<form id="survey-form" class="col s12 center" action="" method="POST">
    <div class="row section">
        <!-- <h4>Feedback for Alice!</h4> -->
    </div>
    <p class="red-text" style="font-size: 18px;">Please provide some feedback on Alice.</p>
    <div class="row section">
        <div class="input-field col s12">
            <p>Alice seemed to understand the questions that were asked.</p>
            <p>
                <input name="understand_question" type="radio" id="sag_uq" value="Strongly Agree" />
                <label for="sag_uq">Strongly Agree</label>
                <input name="understand_question" type="radio" id="ag_uq" value="Agree" />
                <label for="ag_uq">Agree</label>
                <input name="understand_question" type="radio" id="u_uq" value="Undecided/Neutral" />
                <label for="u_uq">Undecided/Neutral</label>
                <input name="understand_question" type="radio" id="d_uq" value="Disagree" />
                <label for="d_uq">Disagree</label>
                <input name="understand_question" type="radio" id="sd_uq" value="Strongly Disagree" />
                <label for="sd_uq">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Alice seemed to understand the images it was looking at. -->
    <div class="row section">
        <div class="input-field col s12 center">
            <p>Alice seemed to understand the images it was looking at.</p>
            <p>
                <input name="understand_image" type="radio" id="sag_ui" value="Strongly Agree" />
                <label for="sag_ui">Strongly Agree</label>
                <input name="understand_image" type="radio" id="ag_ui" value="Agree" />
                <label for="ag_ui">Agree</label>
                <input name="understand_image" type="radio" id="u_ui" value="Undecided/Neutral" />
                <label for="u_ui">Undecided/Neutral</label>
                <input name="understand_image" type="radio" id="d_ui" value="Disagree" />
                <label for="d_ui">Disagree</label>
                <input name="understand_image" type="radio" id="sd_ui" value="Strongly Disagree" />
                <label for="sd_ui">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Alice was fluent in its responses (regardless of whether it was accurate). -->
    <div class="row section">
        <div class="input-field col s12 center">
            <p>Alice was fluent in its responses (regardless of whether it was accurate)</p>
            <p>
                <input name="fluency" type="radio" id="sag_f" value="Strongly Agree" />
                <label for="sag_f">Strongly Agree</label>
                <input name="fluency" type="radio" id="ag_f" value="Agree" />
                <label for="ag_f">Agree</label>
                <input name="fluency" type="radio" id="u_f" value="Undecided/Neutral" />
                <label for="u_f">Undecided/Neutral</label>
                <input name="fluency" type="radio" id="d_f" value="Disagree" />
                <label for="d_f">Disagree</label>
                <input name="fluency" type="radio" id="sd_f" value="Strongly Disagree" />
                <label for="sd_f">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Alice's responses were detailed and informative (regardless of whether it was accurate)-->
    <div class="row section">
        <div class="input-field col s12 center">
            <p>Alice's responses were detailed and informative (regardless of whether it was accurate)</p>
            <p>
                <input name="detail" type="radio" id="sag_d" value="Strongly Agree" />
                <label for="sag_d">Strongly Agree</label>
                <input name="detail" type="radio" id="ag_d" value="Agree" />
                <label for="ag_d">Agree</label>
                <input name="detail" type="radio" id="u_d" value="Undecided/Neutral" />
                <label for="u_d">Undecided/Neutral</label>
                <input name="detail" type="radio" id="d_d" value="Disagree" />
                <label for="d_d">Disagree</label>
                <input name="detail" type="radio" id="sd_d" value="Strongly Disagree" />
                <label for="sd_d">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Alice provided accurate responses to questions. -->
    <div class="row section">
        <div class="input-field col s12 center">
            <p>Alice provided accurate responses to questions.</p>
            <p>
                <input name="accurate" type="radio" id="sag_a" value="Strongly Agree" />
                <label for="sag_a">Strongly Agree</label>
                <input name="accurate" type="radio" id="ag_a" value="Agree" />
                <label for="ag_a">Agree</label>
                <input name="accurate" type="radio" id="u_a" value="Undecided/Neutral" />
                <label for="u_a">Undecided/Neutral</label>
                <input name="accurate" type="radio" id="d_a" value="Disagree" />
                <label for="d_a">Disagree</label>
                <input name="accurate" type="radio" id="sd_a" value="Strongly Disagree" />
                <label for="sd_a">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Alice was trying to be consistent with what it said in the past. -->
    <div class="row section">
        <div class="input-field col s12 center">
            <p>Alice was trying to be consistent with what it said in the past.</p>
            <p>
                <input name="consistent" type="radio" id="sag_c" value="Strongly Agree" />
                <label for="sag_c">Strongly Agree</label>
                <input name="consistent" type="radio" id="ag_c" value="Agree" />
                <label for="ag_c">Agree</label>
                <input name="consistent" type="radio" id="u_c" value="Undecided/Neutral" />
                <label for="u_c">Undecided/Neutral</label>
                <input name="consistent" type="radio" id="d_c" value="Disagree" />
                <label for="d_c">Disagree</label>
                <input name="consistent" type="radio" id="sd_c" value="Strongly Disagree" />
                <label for="sd_c">Strongly Disagree</label>
            </p>
        </div>
    </div>
    <!-- Do you have comments or feedback? Please let us know. -->
    <div class="input-field section col s10" id="comments">
        Do you have comments or feedback? Please let us know.
        <textarea name="comments" class="materialize-textarea"></textarea>
    </div>
    <div class="row section">
        <label id="submit-error" style="display: none; font-size: 18px;" class="col s12 survey-error red-text">All fields are required. Please fill all fields.</label>
        <!-- <button class="btn col s4 waves-effect waves-light right blue" type="submit" id="submitFeedback">Submit Feedback</button> -->
    </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
    $.validator.setDefaults({
        ignore: []
    });

    $("#submit-error").hide();
    
    var validator = $("#survey-form").validate({
        errorClass: "form-err",
        validClass: "form-valid",
        errorLabelContainer: $(".error-container"),
        invalidHandler: function(event, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                $("#submit-error").show();
            } else {
                $("#submit-error").hide();
            }
        },
        success: function(label) {
            $("input[type=radio][name=" + label[0].getAttribute("for") + "]").parent().prev().removeClass("form-error");
        },
        errorPlacement: function(error, element) {
            return true;
        },
        // Color code errors
        highlight: function(element, errorClass) {
            if ($(element).attr("type") == "radio") {
                if (!$(element).parent().prev().hasClass("form-error")) {
                    $(element).parent().prev().addClass("form-error");
                }
            }
        },
        unhighlight: function(element, errorClass) {
            return false;
        }
    });
});

function submit_form() {
    understand_question = $("input[name=understand_question]:checked").val();
    understand_image = $("input[name=understand_image]:checked").val();
    fluency = $("input[name=fluency]:checked").val();
    detail =  $("input[name=detail]:checked").val();
    accurate = $("input[name=accurate]:checked").val();
    consistent = $("input[name=consistent]:checked").val();
    comments = $("textarea[name=comments]").val();



    if (understand_question && understand_image && fluency && detail && accurate && consistent) {
        $.ajax({
            type: "POST",
            url: "{% url 'feedback' %}",
            data: {
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
                'hitId': gup('hitId'),
                'assignmentId': gup('assignmentId'),
                'workerId': gup('workerId'),
                'understand_question': understand_question,
                'understand_image': understand_image,
                'fluency': fluency,
                'detail': detail,
                'accurate': accurate,
                'consistent': consistent,
                'comments': comments,
                'game_id': Number(gameId) + 1,
                'level': level,
                'bot': bot,
                'task': task
            }
        }).done(function(data) {
            console.log(data);
                $("#mturk_form").submit();
        });
    } else {
        $("#submit-error").show();
    }

}
</script>